* {
	font-family: "Poppins";
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	outline: none;
}

a {
	color: black;
}

:root {
	--darkblue: #203f5d;
	--cyan: #26a6b1;
	--blue: #40b6f7;
	--sblue: #0a16c9;
	--lblue: #a0c1ea;
	--black: #000000;
	--white: #ffffff;
	--dblue: #25375d;
	--ddblue: #72a3bc;
	--dcyan: #3b7581;
	--green :#5cb35d;
	--dgreen: #6ea98a;
	--bgreen: #19be59;
	--bblue: #00a9eb;
	--ddddblue: #291e56;
	--dgray: #444472;
	--dddblue: #122950;
}
